/* wdd131/7s4e/assets/css/home.css */

.logos__die {
  fill: var(--dark-accent, #333);
  stroke: none;
}

.hero__frame {
  stroke-width: 12;
}

.hero__name {
  stroke: var(--light-color);
  fill: var(--light-color);
  font-size: 75px;
}