/* wdd131/7s4e/assets/css/styles.css */

:root {
  /* Colors */
  --dark-color: #396e94;
  --light-color: #e3e3ff;
  --dark-accent: #488737;
  --light-accent: #dcb7a4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

header, footer {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  top: 0;
  padding-top: 2vh;
}

footer {
  bottom: 0;
  padding-bottom: 2vh;
}

main {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header, .footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hf__left-side, .hf__central-div, .hf__right-side {
  display: flex;
  column-gap: 1vw;
}

.hf__left-side {
  justify-content: flex-start;
}

.hf__central-div {
  justify-content: center;
}

.hf__right-side {
  justify-content: flex-end;
}

.nav-container {
  display: none;
}

.link-container, .button-container, .svgObject {
  width: 100px;
  height: 100px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.link-container__icon-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container__icon-link:hover .tooltip {
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--dark-color);
  color: var(--light-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.menu-button {
  border-radius: 7px;
  border-color: var(--light-accent);
  background-color: var(--light-color);
}

.content {
  width: max-content;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.logos {
  fill: transparent;
  stroke: var(--dark-accent, #333);
  stroke-width: 5;
  stroke-linejoin: round;
}

.logos--fill--light-accent {
  fill: var(--light-accent);
}

.logos--linecap--round {
  stroke-linecap: round;
}

.logos__menu {
  stroke-width: 19;
}
