/* wdd131/7s4e/assets/css/styles.css */

/* Global Variables */
:root {
  /* Colors */
  --dark-color: #396e94;
  --light-color: #e3e3ff;
  --dark-accent: #488737;
  --light-accent: #dcb7a4;
}

/* Dynamic Structure */
.content {
  max-width: 100%;
}

/* Icon Links */
.link-container {
  display: inline;
  width: 50px;
  float: right;
}
.svgObject {
  width: 100%;
  height: auto;
}
.iconLink {
  position: relative;
  display: inline-block;
}
.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--dark-color);
  color: var(--light-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.iconLink:hover .tooltip {
  opacity: 1;
}

/* SVG Styles */
.logos {
  fill: transparent;
  stroke: var(--dark-accent, #333);
  stroke-width: 7;
}
.logos.accent {
  fill: var(--light-accent);
  stroke-linecap: round;
}

/* base, layout, components, themes, page, utilities */
/* .block__element--modifier */
/* structure vs skin */
/* .width-target {
  margin: 0 auto;
} */
