/* wdd131/recipes/sty/recipes.css - Style sheet for Unit 5's Recipe Book */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* Global Variables */
:root {
  --title-font: small-caps 700 4rem 'Amatic SC', sans-serif;
  --label-font: small-caps 400 3rem 'Amatic SC', sans-serif;
  --tags-font: 1.2rem Arial, Helvetica, sans-serif;
  --description-font: 1rem Arial, Helvetica, sans-serif;
  --flaticon-font: 0.6rem Arial, Helvetica, sans-serif;
}

.title {
  font: var(--title-font);
}

.label {
  font: var(--label-font);
}

.flaticon {
  font: var(--flaticon-font);
}


/* 
The font used for the headlines is called Amatic SC and can be found on Google fonts. However if you look closely at the font you should notice that it breaks a couple of our accessibility rules for fonts. Choose another font that you think has a similar feel, but is better for accessibility.

You can use Arial, Helvetica,sans-serif for the rest of the fonts.

It would be good to add a rule to make our images responsive. We never want an image to be bigger than the space it has available. Something like the following is common:


*/