body {
    font-family: minion-pro, serif;
}
div {
    border: thin solid #aaa;
    margin: 50px 36px;
    padding: 82px 159px 40px;
    max-width: 602px;
}
header {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: thin;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-family: minion-pro-display, serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 4px;
    margin-top: 0px;
    margin-bottom: 23px;
}
h2 {
    color: #006eb6;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 4px;
    margin: 3px 0px;
}
main {
    font-size: 15pt;
    line-height: 30px;
    margin: 48px 0px;
    padding-right: 5px;
}
p {
    margin: 19px 0px;
}
p:nth-of-type(2) {
    font-style: italic;
}
li {
    margin: 20px 0px;
}
footer {
    padding: 12px 0px;
    text-align: center;
}
img {
    height: auto;
    min-width: 36px;
    width: 150px;
}
/* 
 - font-stretch: normal, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
 - font-size-adjust: 0.5;
 - line-height: 1.5;
 - letter-spacing: 1px;
 - word-spacing: 2px;
 - text-transform: none, capitalize, uppercase, lowercase
 - text-decoration: none, underline, overline, line-through
 - text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
*/